body {
  padding: 20px;
  margin: 0;
}

h1, h2, p, ul, li, span {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  line-height: 1.5;
}
h2, p, ul, li, span {
  font-size: 16px;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  border-radius: 3px;
  background-color: #111;
  padding: 0;
}
ul.header li a {
  color:rgba(255,255,255,0.75);
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
ul.header li a.right{
  float:right;
}
.content {
  background-color: #FFF;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
ul.header .active {
  color:#FFF;
}

.boxed-group {
  display: block;
  padding-left: 9px;
  padding-right: 9px;  
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 17px;
  background-color: #f6f8fa;
  border: 1px solid rgba(27,31,35,0.15);
  border-radius: 3px;
}

.boxed-group p {
  display:inline-block;
}

.boxed-group-heading {
  display: block;
  padding: 12px;
  margin: 0;
  line-height: 17px;
  background-color: #f6f8fa;
  border: 1px solid rgba(27,31,35,0.15);
  border-bottom: 0;
  border-radius: 3px 3px 0 0;
}

.boxed-group-heading .right {
  float:right;
}

.boxed-group-body {
  padding: 10px;
  word-wrap: break-word;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.boxed-group-body li {
  padding: 5px;
}

.vertical-box {
  padding-bottom: 24px;
}

p.footer {
  margin-bottom:0;
  font-style:italic;
  font-size:14px;  
}
